body{
    text-align: center;
    background-color: rgb(20, 26, 69);
    color: antiquewhite;
}
.sidebarlist{
    margin: 0;
    padding: 0;
    text-align: left;
}
#idea{
    color: white;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
h1{
    color: #E6C968;
    font-family: sans-serif;
}
.container{
    height: 270px;
    width: 270px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.btn{
    height: 110px;
    width: 110px;
    border: 2px solid rgb(13, 13, 23);
    margin: 0.5rem;
    border-radius: 20%;
    cursor: pointer;
}
/* .btn :hover{
    transform: scale(2);
} */
.yellow{
    background-color: yellow;
}
.yellow:hover{
    transform: scale(1.01);
    box-shadow: -1px 1px 5px rgb(25, 22, 22);
}
.red{
background-color: red;
}
.red:hover{
    transform: scale(1.01);
    box-shadow: -1px 1px 5px rgb(25, 22, 22);
}
.purple:hover{
    transform: scale(1.01);
    box-shadow: -1px 1px 5px rgb(25, 22, 22);
}
.purple{
     background-color: blue;
}
.green{
    background-color:green;
}
.green:hover{
    transform: scale(1.01);
   box-shadow: -1px 1px 5px rgb(25, 22, 22);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
};